
.post-wrapper {
	position: relative;
	padding: 20px 30px;
	box-shadow: 1px 1px 3px #BEBEBE;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 20px 0;
	border: 1px solid rgba(221, 221, 221, 0.62);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	background-color: #fff;
}


.post-side {
	float: left;
	position: relative;
}

.post-main {
	padding-left: 100px;
}

	.post-content {
		padding-bottom: 15px;
		word-wrap: break-word;
	}

.time-created {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px 10px;
	background-color: #F1F1F1;
	border-top-left-radius: 3px;
	font-style: italic;
	color: #666666;
}

	.post-time-created span {
		color: #9B9B9B;
	}


.post-action-bar {
	position: absolute;
	bottom: 0;
	left: 130px;
	padding: 5px 0;
	background-color: #fff;
}
	.post-action-bar span {
		padding-right: 5px;
		color: #9B9B9B;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		font-style: italic;
		cursor: pointer;
	}

	.post-action-bar span:hover {
		color: #666666;
	}	

	.post-thumbs {
		cursor: pointer;
		font-size: 17px;
		color: #9B9B9B;
		padding: 0 5px;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

		.post-thumbs:hover {
			color: #666666;
			text-shadow: 0 0 4px #ccc;
		}

		.post-thumbs.thumbs-up, .post-thumbs.thumbs-down {
			color: #666666;
			text-shadow: 0 0 4px #ccc;			
		}

.post-username {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 700;	
}

.post-profile-pic {
	position: relative;
	z-index: 2;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	border: 2px solid #fff;
	box-shadow: 0 0 5px #B9B9B9;
	background-color: #fff;

}

.comment-list {
	background-color: #FAFAFA;
	margin-top: -20px;
	padding: 15px;
	padding-bottom: 5px;
	box-shadow: 1px 1px 3px #BEBEBE;
	border: 1px solid rgba(221, 221, 221, 0.62);
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 15px;
}
	.comment-list:empty {
		display: none;
	}
	
	.comment-profile-pic {
		width: 30px;
		height: 30px;
		border-radius: 50px;
		border: 2px solid #fff;
		box-shadow: 0 0 5px #B9B9B9;
		float: left;
	}

	.comment-submission-textarea {
		padding-left: 40px;
	}

	.textarea.form-control {
		height: 34px;
	}

	.comment-side {
		float: left;
	}

	.comment-main {
		position: relative;
		padding-left: 40px;
		padding-bottom: 10px;
	}
		.comment-char-counter {
			position: absolute;
			top: 0;
			right: 0;
			padding: 3px 10px;
			font-style: italic;
			background-color: rgba(177, 177, 177, 0.22);
			color: #888;
			transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
		}
			.comment-char-counter:empty {
				display: none;
			}

			.comment-char-counter:hover{
				background-color: rgba(233, 233, 233, 1);
				border-top-right-radius: 5px;
			}

	.comment-username {
		display: inline-block;
		font-weight: 700;
	}

	.comment-content {
		display: block;
		word-wrap: break-word;
	}

	.comment-control span {
		font-style: italic;
		color: #9B9B9B;
	}

/* Question specific */

.question-title {
	font-size: 25px;
	padding: 10px 30px;
	background-color: #F1F1F1;
	margin: -20px -30px 20px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(241, 241, 241, 0.9));
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(241, 241, 241, 0.9));
	word-wrap: break-word;
}

.tags-list-inline {
	padding: 20px;
}

	.tags-list-inline span {
		color: #FAFAFA;
		padding: 5px 10px;
		background-color: #A2A2A2;
		border-radius: 2px;
		margin: 2px;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		cursor: pointer;
		white-space: nowrap;
	}

	.tags-list-inline span:empty {
		display: none;
	}

	.tags-list-inline span:hover {
		color: #fff;
		background-color: #009CB1;
	}

/* Answer list related */

.answer-submission {
	padding: 10px 0;
}

.answer-submission label {
	font-size: 16px;
	padding-bottom: 5px;
}

.answer-submission-main {
	position: relative;
	margin-left: 100px;
	box-shadow: 1px 1px 3px #BEBEBE;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 15px;
	border: 1px solid rgba(221, 221, 221, 0.62);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	background-color: #fff;
}
	.answer-submission-main:before {
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	    border-right: 10px solid rgba(254, 254, 254, 1);
	    content: " ";
	    position: absolute;
	    top: 0;
	    width: 0px;
	    height: 0px;
	    left: -10px;	
	}


/* ---- Best Answer ----*/

.best-answer-display {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	box-shadow: 0 0 15px rgba(101, 190, 4, 0.59);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.best-answer-handler {
	position: absolute;
	top: -1px;
	right: -1px;
	padding: 10px;
	border-top-right-radius: 3px;
	background-color: #F1F1F1;
	color: #ccc;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

	.best-answer-handler:hover {
		background-color: #83DA00;
		color: #fff;
	}

.best-answer-selected {
	background-color: #83DA00;
	color: #fff;	
}