body, h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans, sans-serif;
	color: #5C5C5C;
	background-color: #e7e7e7;
}

.clearfix {
	clear: both;
}

.modal-title {
	background-color: transparent;
}

textarea {
	resize: vertical;
	width: 100%;
}

.profile-picture-m {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	border: 3px solid #fff;
	box-shadow: 0 0 5px #B9B9B9;
}

