.profile-cover-wrapper {
	position: relative;
	max-width: 960px;
	height: 250px;
	overflow: hidden;
	margin-bottom: 20px;
}

.cover-shadow {
	position: absolute;
	z-index: 1;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.member-glance {
	position: absolute;
	z-index: 2;
	margin: auto;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 125px;
	width: 300px;
	overflow: hidden;
}

	.member-glance img.profile-picture {
		height: 100px;
		width: 100px;
		border-radius: 100px;
		border: 5px solid #fff;
		float: left;
		/*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);*/
	}

	.member-glance .profile-username {
		padding: 5px 10px;
		font-size: 18px;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
		margin-left: 100px;
	}

	.member-glance .profile-sub-info {
		padding: 0px 10px;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
		margin-left: 100px;
	}

	.member-glance .profile-follower-count {
		padding: 0px 10px;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
		margin-left: 100px;		
	}

.profile-main {
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}

/*---- Profile Post -----*/

.profile-post-wrapper {
	margin: 10px 0;
}

.profile-post-side {
	float: left;
}

.profile-post-main {
	margin-left: 80px;
}

	.profile-post-main textarea {
		min-height: 70px;
	}

	.profile-post-content {
		min-height: 35px;
		padding-top: 5px;
	}

	.profile-post-sub {
		padding-top: 5px;
		color: rgb(189, 189, 189);
	}

	.profile-post-sub span {
		padding-right: 10px;
	}

.char-indicator {
	display: inline;
	font-size: 15px;
	padding-right: 10px;
}